[Unit]
Description=WeatherFlowDB Data Logger
After=syslog.target network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/php /home/bjarne/weatherflowdb/datalogger.php
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
